InheritParentConfig: true
CheckOptions:
  readability-identifier-naming.FunctionPrefix: emt_
  readability-identifier-naming.TypedefPrefix: emt_
  readability-identifier-naming.EnumPrefix: emt_
  readability-identifier-naming.StructPrefix: emt_
  readability-identifier-naming.MacroDefinitionPrefix: EMT_
  readability-identifier-naming.EnumConstantPrefix: EMT_
  readability-identifier-naming.FunctionIgnoredRegexp: emtrace_init
  readability-identifier-naming.MacroDefinitionIgnoredRegexp: "(EMTRACE_F|EMTRACE_MAGIC|EMTRACE_MAGIC_COBS|EMTRACE_MAGIC_COBS_PASSTHROUGH|EMTRACE|EMTRACELN|EMTRACELN_F|EMTRACE_INIT|EMTRACE_.*_H)"
